


#nombre{
    font-weight: bold;
    

  
}
.divImage{
    position: absolute;
    top: 170px;
    right: 25px;
}

img{

    height: 310px;
    width: 310px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
    
}
img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 1);
  }

#footerImage{
    position: absolute;
    top: 500px;
    right: 20px;
}
body{
    background-color: #f0f0f0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

  

#divHeader{

    font-size: 18px;
}

.resumen{
    position: absolute;
    left: 20px;
    right: 380px;
}
.firstInput{
    position: absolute;
    
    bottom: 250px;
    left: 50px;
    justify-content: flex-start;

    

}
.otherDiv{
    position: absolute;
    bottom: 250px;
    left: 500px;
    justify-content: flex-start;

    

}
input[type="text"]{
    border: none;
    width: 150px;
    height:30px;
    padding: 0 15px;
    box-shadow:  0 6px 8px -3px black;


}
button{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 0 15px;
    background: rgb(2, 2, 90);
    color: aliceblue;
    border: none;
    cursor: pointer;
    box-shadow:  0 6px 8px -3px black;

}
#fiboContainer{
    position: absolute;
   
}
#factoContainer{
    position: absolute;
    bottom: 195px;
    left: 500px;
    justify-content: flex-start;

   
}
li{
font-weight: bolder;
font-size: 21px;
list-style: none;
}